@using DeepeshWeb.Models.Timesheet
@model TIM_ProjectCreationModel

@{
    ViewBag.Title = "Add Task";
    TIM_MilestoneModel Milestone = new TIM_MilestoneModel();
    Milestone = ViewBag.MilestoneData[0];
}

@section style
{
    <!-- Internal Select2 css -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!--Internal  Datetimepicker-slider css -->
    <link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">
}
<style>
    .tableCss {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

        .tableCss caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        .tableCss tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        .tableCss th,
        .tableCss td {
            padding: .625em;
            text-align: center;
        }

        .tableCss th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        .tableCss thead th {
            padding: 12px !important;
        }

    .fa {
        margin: auto !important;
    }

    @@media screen and (max-width: 600px) {
        .datetimepicker table {
            background: none;
        }

        .datetimepicker {
            width: auto;
        }

        .tableCss {
            border: 0;
        }

            .tableCss caption {
                font-size: 1.3em;
            }

            .tableCss thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            .tableCss tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            .tableCss td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

        input {
            border-radius: 4px;
        }

        .input {
            border-radius: 4px;
        }

        .tableCss td::before {
            /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        .tableCss td:last-child {
            border-bottom: 0;
        }
        /*table td input {
            padding: .625em;
            text-align: center;
            width: 50% !important;
            margin-left: auto !important;
        }*/
        .responsivetablediv {
            margin-top: 25px !important;
        }
    }

    .erralign {
        text-align: left;
    }
</style>

<form id="frmMilestoneDetails" autocomplete="off" ng-app="MilestoneDetailsApp" ng-controller="MilestoneDetailController">
    <!-- container opened -->
    <div class="container">

        <!-- breadcrumb -->
        <div class="breadcrumb-header justify-content-between">
            <div class="my-auto">
                <div class="d-flex">
                    <h4 class="content-title mb-0 my-auto">Timesheet</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Add Task</span>
                </div>
            </div>
        </div>
        <!-- breadcrumb -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">

                <!--Entry Code start-->
                @Html.Partial("~/Views/Partial/TIM_ViewProjectData.cshtml", Model)
                <!--Entry Code End-->
            </div>
        </div>
        <!-- row -->
        <div class="row row-sm">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mg-b-0">Milestone</h4>
                        </div>
                    </div><hr />
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="tableCss">
                                <thead>
                                    <tr>
                                        <th scope="col">Milestone</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Estimated End Date</th>
                                        <th scope="col">Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Milestone">@Milestone.MileStone</td>
                                        <td data-label="Description">@Milestone.Description</td>
                                        <td data-label="Start Date">@Milestone.StartDate.Split(' ')[0]</td>
                                        <td data-label="Estimated End Date">@Milestone.EndDate.Split(' ')[0]</td>
                                        <td data-label="Days">@Milestone.NoOfDays</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- bd -->
                    </div><!-- bd -->
                </div><!-- bd -->
            </div>
        </div>

        <div class="row row-sm">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mg-b-0">Task</h4>
                        </div>
                    </div><hr />
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="tableCss">
                                <thead>
                                    <tr>
                                        <th scope="col">Task</th>
                                        <th scope="col">Members</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Estimated End Date</th>
                                        <th scope="col">Days</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Task"><input type="text" class="form-control responsivetablediv" ng-model="ngtxtTask" id="txtTask" placeholder="Enter Task" required=""></td>

                                        <td data-label="Members">
                                            <div id="slMembers">
                                                <select required="" class="form-control select2" ng-model="ngddlMember" id="ddlMember" data-parsley-class-handler="#slMembers" data-parsley-errors-container="#slMembersError">
                                                    <option value="">Choose One</option>
                                                    @foreach (var i in ViewBag.EmpData)
                                                    {
                                                        <option value="@i.ID">@i.FullName</option>
                                                    }
                                                </select>
                                            </div>
                                            <div id="slMembersError"></div>
                                        </td>

                                        <td data-label="Start Date">
                                            <div class="input-group responsivetablediv">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                    </div>
                                                </div>
                                                <input required="" type="text" class="form-control date" ng-model="ngtxtTaskStartDate" id="txtTaskStartDate" data-parsley-errors-container="#slMilestoneStartDateError">
                                            </div>
                                            <div id="slMilestoneStartDateError"></div>
                                        </td>

                                        <td data-label="Estimated End Date">
                                            <div class="input-group responsivetablediv" id="slMilestoneEndDate">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                    </div>
                                                </div><input class="form-control date" type="text" ng-model="ngtxtTaskEndDate" id="txtTaskEndDate" data-parsley-errors-container="#slMilestoneEndDateError" required="">
                                            </div>
                                            <div id="slMilestoneEndDateError"></div>
                                        </td>

                                        <td data-label="Days"><input type="text" class="form-control responsivetablediv" ng-model="ngtxtTaskDays" id="txtTaskDays" placeholder="Enter Days" readonly="readonly"></td>

                                        <td>
                                            <div id="slStatus">
                                                <select required="" class="form-control select2" ng-model="ngddlStatus" id="ddlStatus" data-parsley-class-handler="#slStatus" data-parsley-errors-container="#slStatusError">
                                                    <option value="">Choose One</option>
                                                    @foreach (var i in ViewBag.StatusData)
                                                    {
                                                        <option value="@i.Id">@i.StatusName</option>
                                                    }
                                                </select>
                                            </div>
                                            <div id="slStatusError"></div>
                                        </td>

                                        <td data-label="Action">
                                            <div class="btn-icon-list responsivetablediv">
                                                <button type="button" class="fa fa-plus" title="Add" ng-click="AddMilestone()"></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- bd -->
                    </div><!-- bd -->
                </div><!-- bd -->
            </div>

        </div>

        <div class="row row-sm">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="tableCss">
                                <thead>
                                    <tr>
                                        <th scope="col">Sr.No.</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Members</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Estimated End Date</th>
                                        <th scope="col">Days</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Sr.No.">1</td>
                                        <td data-label="Task">Test Task1</td>
                                        <td data-label="Members">Abc</td>
                                        <td data-label="Start Date">16/05/2020</td>
                                        <td data-label="Estimated End Date">19/05/2020</td>
                                        <td data-label="Days">4</td>
                                        <td data-label="Status">Pending</td>
                                        <td data-label="Action">
                                            <i class="fa fa-edit" ng-click="EditTask($index)"></i>&nbsp;
                                            <i class="fa fa-trash" ng-click="DeleteTask($index)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- bd -->
                    </div><!-- bd -->
                </div><!-- bd -->
            </div>
            <div class="col-xl-12">
                <div class="row row-sm text-center">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary btn-block" ng-click="FinalAddMilestone()">Submit</button>&nbsp;
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-secondary btn-block">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- row closed -->
    </div>
    <!-- Modal alert message Success -->
    <div class="modal" id="SuccessModelTask" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-success tx-semibold mg-b-20">Congratulations!</h4>
                    <p class="mg-b-20 mg-x-20">Your request have been successfully submitted.</p><button aria-label="Close" class="btn ripple btn-success pd-x-25" data-dismiss="modal" type="button" ng-click="SaveTaskRedirect()">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Container closed -->
    <input type="hidden" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" id="hdnProjectData" />
</form>


@section scripts
{
    <!-- Internal Select2.min js -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="~/assets/js/datePicker.js"></script>

    <script src="~/Scripts/Angular/Timesheet/JS/TIM_AddTask.js"></script>

}
