@*@using DeepeshWeb.Models.Timesheet*@
@*@model IEnumerable<TIM_ProjectCreationModel>*@

<div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="MilestoneTitle">Add Timesheet </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col-xl-12 col-lg-12">

                    <!--Entry Code start-->
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtTimesheetDate">Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                </div>
                                            </div><input class="form-control" type="text" ng-model="ngtxtTimesheetDate" id="txtTimesheetDate" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="ddlClientName">Client Name</label>
                                        <select ng-options="p.Client as p.ClientName for p in ClientDetails" ng-model="ngddlClient" id="ddlClient" class="form-control AllSelect"  ng-change="ProjectDetails()">
                                            <option></option>
                                            @*@{
                                                var Client = 0;
                                            }
                                            @foreach (var item in ViewBag.AllTask)
                                            {
                                                if (@item.Client != Client)
                                                {
                                                    <option value="@item.Client">
                                                        @item.ClientName
                                                    </option>
                                                    Client = @item.Client;
                                                }

                                            }*@
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Entry Code End-->
                    </div>

                    <!-- row -->
                    <div class="row row-sm">
                        <!--div-->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="mg-b-0 text-md-nowrap tableCss">
                                            <thead>
                                                <tr>
                                                    <th>Project Name</th>
                                                    <th>Milestone</th>
                                                    <th>Task</th>
                                                    <th>Description</th>
                                                    <th>Hours</th>
                                                    <th>Estimated Hours</th>
                                                    <th>Utilized Hours</th>
                                                    <th>Remaining</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                      <select ng-options="p.Project as p.ProjectName for p in ProjectInfo" ng-model="ngddlProjectName" id="ddlProjectName" class="form-control AllSelect" ng-change="MilestoneDetails()">
                                                            <option></option>
                                                            @*@{
                                                                var Project = 0;
                                                            }
                                                            @foreach (var item in ViewBag.AllTask)
                                                            {
                                                                if (@item.Project != Project)
                                                                {
                                                                    <option value="@item.Project">
                                                                        @item.ProjectName
                                                                    </option>
                                                                    Project = @item.Project;
                                                                }

                                                            }*@
                                                      </select>
                                                    </td>
                                                    <td>
                                                        <select ng-options="m.MileStone as m.MileStoneName for m in MilestoneInfo" ng-model="ngddlMilestone" id="ddlMilestone" class="form-control AllSelect" ng-change="TaskDetails()">
                                                            <option></option>
                                                            @*@{
                                                                var MileStone = 0;
                                                            }
                                                            @foreach (var item in ViewBag.AllTask)
                                                            {
                                                                if (@item.MileStone != MileStone)
                                                                {
                                                                    <option value="@item.MileStone">
                                                                        @item.MileStoneName
                                                                    </option>
                                                                    MileStone = @item.MileStone;
                                                                }

                                                            }*@
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select select ng-options="t as t.AllTask for t in TaskInfo" ng-model="ngddlTask" id="ddlTask" class="form-control AllSelect" ng-change="GetPrevTimesheet()">
                                                            <option></option>
                                                            @*@foreach (var item in ViewBag.AllTask)
                                                            {
                                                                if (@item.GetType().GetProperty("SubTask") == null)
                                                                {
                                                                    <option value="@item.ID">
                                                                        @item.Task
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.ID">
                                                                        @item.SubTask
                                                                    </option>

                                                                }


                                                            }*@
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" ng-model="ngtxtDescription" id="txtDescription"></td>
                                                    <td><input type="text" class="form-control" ng-model="ngtxtHours" id="txtHours" ng-change="GetRemainingHorus()"></td>
                                                    <td><input type="text" class="form-control" ng-model="ngtxtEstimatedHours" id="txtEstimatedHours" readonly="readonly"></td>
                                                    <td><input type="text" class="form-control" ng-model="ngtxtUtilizedHours" id="txtUtilizedHours" readonly="readonly"></td>
                                                    <td><input type="text" class="form-control" ng-model="ngtxtRemainingHours" id="txtRemainingHours" readonly="readonly"></td>
                                                    <td>
                                                        <div class="btn-icon-list pd-t-10">
                                                            <i data-placement="top" data-toggle="tooltip" title="Add" class="fa fa-plus text-primary mr-2" ng-click="AddTimesheet()"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- bd -->
                                </div><!-- bd -->
                            </div><!-- bd -->
                        </div>
                        <!--div-->
                        <div class="col-xl-12" ng-if="TimesheetArr.length>0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">

                                        <table class="mg-b-0 text-md-nowrap tableCss">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No.</th>
                                                    <th>Client</th>
                                                    <th>Project</th>
                                                    <th>Milestone</th>
                                                    <th>Task</th>
                                                    <th>Desc.</th>
                                                    <th>Hours</th>
                                                    <th>Estimated Hours</th>
                                                    <th>Utilized Hours</th>
                                                    <th>Remaining</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="t in TimesheetArr">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{t.ClientName}}</td>
                                                    <td>{{t.ProjectName}}</td>
                                                    <td>{{t.MileStoneName}}</td>
                                                    <td>{{t.AllTask}}</td>
                                                    <td>{{t.Description}}</td>
                                                    <td>{{t.Hours}}</td>
                                                    <td>{{t.EstimatedHours}}</td>
                                                    <td>{{t.UtilizedHours}}</td>
                                                    <td>{{t.RemainingHours}}</td>
                                                    <td>

                                                        <i class="si si-pencil text-primary mr-2" data-toggle="tooltip" data-placement="top" data-original-title="Edit" ng-click="EditTimesheet($index)"></i>
                                                        <i class="si si-trash text-danger mr-2" data-toggle="tooltip" data-placement="top" data-original-title="Delete" ng-click="DeleteTimesheet($index)"></i>

                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div><!-- bd -->
                                </div><!-- bd -->
                            </div><!-- bd -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" id="btnAddTimesheet" ng-hide="TimesheetLoad" ng-click="FinalAddTimesheet()">Submit</button>
                    <button class="btn btn-primary" type="button" ng-show="TimesheetLoad" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Please wait...
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

