@*@using DeepeshWeb.Models.Timesheet*@
@*@model IEnumerable<TIM_ProjectCreationModel>*@

<div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="MilestoneTitle">Add Timesheet </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col-xl-12 col-lg-12">

                    <!--Entry Code start-->
                    <div class="card custom-card" ng-hide="ViewTimesheet">
                        <div class="card-body">
                            <div class="row row-sm">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtTimesheetDate">Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                </div>
                                            </div><input class="form-control" type="text" ng-model="ngtxtTimesheetDate" id="txtTimesheetDate" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="ddlClientName">Client Name</label>
                                        <div id="ClientType" class="parsley-select">
                                        <select ng-options="p.Client as p.ClientName for p in ClientDetails" ng-model="ngddlClient" id="ddlClient" class="form-control AllSelect" ng-change="ProjectDetails()" data-parsley-class-handler="#ClientType" data-parsley-errors-container="#ClientError" required="">
                                            <option></option>
                                            @*@{
                                        var Client = 0;
                                    }
                                    @foreach (var item in ViewBag.AllTask)
                                    {
                                        if (@item.Client != Client)
                                        {
                                            <option value="@item.Client">
                                                @item.ClientName
                                            </option>
                                            Client = @item.Client;
                                        }

                                    }*@

                                        </select>
                                        </div>
                                        <div id="ClientError"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtTimesheetDate">Project</label>
                                        <div id="ProjecttType" class="parsley-select">
                                                        <select ng-options="p.Project as p.ProjectName for p in ProjectInfo" ng-model="ngddlProjectName" id="ddlProjectName" class="form-control AllSelect" ng-change="MilestoneDetails()" data-parsley-class-handler="#ProjecttType" data-parsley-errors-container="#ProjectError" required="">
                                                            <option></option>
                                                            @*@{
                                                        var Project = 0;
                                                    }
                                                    @foreach (var item in ViewBag.AllTask)
                                                    {
                                                        if (@item.Project != Project)
                                                        {
                                                            <option value="@item.Project">
                                                                @item.ProjectName
                                                            </option>
                                                            Project = @item.Project;
                                                        }

                                                    }*@
                                                        </select>
                                                        </div>
                                                        <div id="ProjectError"></div>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtTimesheetDate">Milestone</label>
                                        <div id="MileType" class="parsley-select">
                                                        <select ng-options="m.MileStone as m.MileStoneName for m in MilestoneInfo" ng-model="ngddlMilestone" id="ddlMilestone" class="form-control AllSelect" ng-change="TaskDetails()" data-parsley-class-handler="#MileType" data-parsley-errors-container="#MileError" required="">
                                                            <option></option>
                                                            @*@{
                                                        var MileStone = 0;
                                                    }
                                                    @foreach (var item in ViewBag.AllTask)
                                                    {
                                                        if (@item.MileStone != MileStone)
                                                        {
                                                            <option value="@item.MileStone">
                                                                @item.MileStoneName
                                                            </option>
                                                            MileStone = @item.MileStone;
                                                        }

                                                    }*@
                                                        </select>
                                                        </div>
                                                         <div id="MileError"></div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Entry Code End-->
                    </div>

                    <!-- row -->
                    <div class="row row-sm">
                        <!--div-->
                        <div class="col-xl-12" ng-hide="ViewTimesheet">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="mg-b-0 text-md-nowrap tableCss">
                                            <thead>
                                                <tr>
                                                    <th>Task</th>
                                                    <th>From Time</th>
                                                    <th>To Time</th>
                                                    <th>Desc.</th>
                                                    <th>Hrs.</th>
                                                    <th>Estd. Hrs.</th>
                                                    <th>Utld. Hrs.</th>
                                                    <th>Rem. Hrs.</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                 
                                                    <td style="width:18%">
                                                        <div id="TaskType" class="parsley-select">
                                                        <select select ng-options="t.ID as t.AllTask for t in TaskInfo" ng-model="ngddlTask" id="ddlTask" class="form-control AllSelect" ng-change="GetPrevTimesheet()" data-parsley-class-handler="#TaskType" data-parsley-errors-container="#TaskError" required="">
                                                            <option></option>
                                                            @*@foreach (var item in ViewBag.AllTask)
                                                    {
                                                        if (@item.GetType().GetProperty("SubTask") == null)
                                                        {
                                                            <option value="@item.ID">
                                                                @item.Task
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.ID">
                                                                @item.SubTask
                                                            </option>

                                                        }


                                                    }*@
                                                        </select>
                                                             </div>
                                                        <div id="TaskError"></div>
                                                    </td>
                                                    <td style="width:12%">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                                </div>
                                                            </div><input class="form-control Time" type="text" ng-model="ngtxtFromTime" id="txtFromTime" data-parsley-class-handler="#FrmTimeType" data-parsley-errors-container="#FrmTimeError" required="">
                                                        </div>
                                                        <div id="FrmTimeError"></div>
                                                    </td>
                                                    <td style="width:12%">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                                </div>
                                                            </div><input class="form-control Time" type="text" ng-model="ngtxtToTime" id="txtToTime" data-parsley-class-handler="#ToTimeType" data-parsley-errors-container="#ToTimeError" required="">
                                                        </div>
                                                        <div id="ToTimeError"></div>
                                                    </td>
                                                    <td style="width:20%"><input type="text" class="form-control" ng-model="ngtxtDescription" id="txtDescription" required=""></td>
                                                    <td style="width:7%"><input type="text" class="form-control" readonly="readonly" ng-model="ngtxtHours" id="txtHours"></td>
                                                    <td style="width:7%"><input type="text" class="form-control" ng-model="ngtxtEstimatedHours" id="txtEstimatedHours" readonly="readonly"></td>
                                                    <td style="width:7%"><input type="text" class="form-control" ng-model="ngtxtUtilizedHours" id="txtUtilizedHours" readonly="readonly"></td>
                                                    <td style="width:7%"><input type="text" class="form-control" ng-model="ngtxtRemainingHours" id="txtRemainingHours" readonly="readonly"></td>
                                                    <td style="width:5%">
                                                        <div class="btn-icon-list pd-t-10" id="divAddTimesheet" data-id="0">
                                                            <button type="submit" data-placement="top" data-toggle="tooltip" title="Add" class="fa fa-plus text-primary mr-2" style="border:none;background:none" ></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- bd -->
                                </div><!-- bd -->
                            </div><!-- bd -->
                        </div>
                        <!--div-->
                        <div class="col-xl-12" ng-if="TimesheetArr.length>0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">

                                        <table class="mg-b-0 text-md-nowrap tableCss" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>S.N.</th>
                                                    <th>Client</th>
                                                    <th>Project</th>
                                                    <th>Mile - Stone</th>
                                                    <th>Task</th>
                                                    <th>From Time</th>
                                                    <th>To Time</th>
                                                    <th>Desc.</th>
                                                    <th>Hrs.</th>
                                                    <th>Estd. Hrs.</th>
                                                    <th>Utld. Hrs.</th>
                                                    <th>Rem. Hrs.</th>
                                                    <th ng-hide="ViewTimesheet">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="t in TimesheetArr">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{t.ClientName}}</td>
                                                    <td>{{t.ProjectName}}</td>
                                                    <td>{{t.MileStoneName}}</td>
                                                    <td>{{t.AllTask}}</td>
                                                    <td>{{t.FromTimeView}}</td>
                                                    <td>{{t.ToTimeView}}</td>
                                                    <td>{{t.Description}}</td>
                                                    <td>{{t.Hours}}</td>
                                                    <td>{{t.EstimatedHours}}</td>
                                                    <td>{{t.UtilizedHours}}</td>
                                                    <td>{{t.RemainingHours}}</td>
                                                    <td ng-hide="ViewTimesheet">
                                                        <div>
                                                            <i class="si si-pencil text-primary mr-2" data-toggle="tooltip" data-placement="top" data-original-title="Edit" ng-click="EditTimesheet($index)"></i>
                                                            <i class="si si-trash text-danger mr-2" data-toggle="tooltip" data-placement="top" data-original-title="Delete" ng-click="DeleteTimesheet($index)"></i>
                                                        </div>

                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div><!-- bd -->
                                </div><!-- bd -->
                            </div><!-- bd -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center" ng-hide="ViewTimesheet">
                    <button type="button" class="btn btn-primary" id="btnAddTimesheet" ng-hide="TimesheetLoad" ng-click="FinalAddTimesheet()">Submit</button>
                    <button class="btn btn-primary" type="button" ng-show="TimesheetLoad" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Please wait...
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-footer justify-content-center" ng-show="ViewTimesheet">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

