    <style>
        .main-toggle span::after {
            content: 'Inactive';
            right: -55px;
        }

        .main-toggle span::before {
            content: 'Active';
            left: -48px;
        }

        .main-toggle.on span {
            left: 59px;
        }

        .main-toggle span::before, .main-toggle span::after {
            margin-right: -5px;
        }

        .main-toggle{
            width:90px;
        }
    </style>
    <form>
        <div class="row row-sm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="First_Name">Project Name</label>
                    <input required="" name="ProjectName" type="text" class="form-control" ng-model="ngtxtProjectName" id="txtProjectName" placeholder="Enter Project Name">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="ddlProjectType">Type</label>
                    <div id="slType" class="parsley-select">
                        <select required="" class="form-control select2" name="ProjectType" id="ddlProjectType" ng-model="ngddlProjectType" data-parsley-class-handler="#slType" data-parsley-errors-container="#slTypeError">
                            <option value="">Choose One</option>
                            @foreach (var i in ViewBag.ProjectTypeData)
                            {
                                <option value="@i.ID">@i.TypeName</option>
                            }
                        </select>
                    </div>
                    <div id="slTypeError"></div>
                    @*@Html.DropDownList("ddlProjectType", new SelectList(ViewBag.ProjectTypeData, "Id", "TypeName"), "Choose One", new { @class = "form-control select2", @onchange = "GetType()" })*@
                </div>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="txtClientName">Client Name</label>
                    <div id="slClient" class="parsley-select">
                        <select required="" class="form-control select2" name="ClientName" ng-model="ngddlClientName" id="ddlClientName" data-parsley-class-handler="#slClient" data-parsley-errors-container="#slClientError">
                            <option value="">Choose One</option>
                            @foreach (var i in ViewBag.ClientData)
                            {
                                <option value="@i.ID">@i.ClientName</option>
                            }
                        </select>
                    </div>
                    <div id="slClientError"></div>
                    @*@Html.DropDownList("ddlClientName", new SelectList(ViewBag.ClientData, "Id", "ClientName"), "Choose One", new { @class = "form-control select2" })*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="txtClientProjectManager">Client Project Manager</label>
                    <input name="ClientProjectManager" type="text" class="form-control" ng-model="ngtxtClientProjectManager" id="txtClientProjectManager" placeholder="Enter client Project Manager" required="">
                </div>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="txtProjectStartDate">Start Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                            </div>
                        </div><input required="" name="StartDate" class="form-control date" type="text" data-parsley-class-handler="#slStartDate" data-parsley-errors-container="#slStartDateError" ng-model="ngtxtProjectStartDate" id="txtProjectStartDate">
                    </div>
                    <div id="slStartDateError"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="txtProjectEndDate">Estimated End Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                            </div>
                        </div><input required="" data-parsley-class-handler="#slEndDate" data-parsley-errors-container="#slEndDateError" name="EndDate" class="form-control date" type="text" ng-model="ngtxtProjectEndDate" id="txtProjectEndDate">
                    </div>
                    <div id="slEndDateError"></div>
                </div>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="txtNoOfDays">Number of Days</label>
                    <input name="NoOfDays" type="text" class="form-control" ng-model="ngtxtNoOfDays" id="txtNoOfDays" placeholder="Enter number of days" readonly="readonly">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="ddlProjectManager">Project Manager</label>
                    <div id="slProjectManager" class="parsley-select">
                        <select class="form-control select2" name="ProjectManager" ng-model="ngddlProjectManager" required="" data-parsley-class-handler="#slProjectManager" data-parsley-errors-container="#slProjectManagerError" id="ddlProjectManager">
                            <option value="">Choose One</option>
                            @foreach (var i in ViewBag.EmpData)
                            {
                                <option value="@i.ID">@i.FullName</option>
                            }
                        </select>
                    </div>
                    <div id="slProjectManagerError"></div>
                    @*@Html.DropDownList("ProjectManager", new SelectList(ViewBag.EmpData, "Id", "FullName"), "Choose One", new { @class = "form-control select2", @name = "ProjectManager" })*@
                </div>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="ddlMembers">Members</label>
                    <div id="slMembers">
                        <select required="" class="form-control select2" ng-model="ngddlMembers" id="ddlMembers" data-parsley-class-handler="#slMembers" data-parsley-errors-container="#slMembersError" multiple="multiple" data-parsley-mincheck="1">
                            <option value="">Choose One</option>
                            @foreach (var i in ViewBag.EmpData)
                            {
                                <option value="@i.ID" id="@i.EmpCode">@i.FullName</option>
                            }
                        </select>
                    </div>
                    <div id="slMembersError"></div>
                    @*@Html.DropDownList("ddlMembers", new SelectList(ViewBag.EmpData, "Id", "FullName"), "Choose One", new { @class = "form-control select2", @multiple = "multiple", @onchange = "MakeMembersText()" })*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <textarea name="Description" class="form-control" ng-model="ngtxtDescription" id="txtDescription" placeholder="Enter Description" rows="3" required=""></textarea>
                </div>
            </div>
        </div>

        <div class="row row-sm" ng-show="ProjectStatus">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="ddlMembers">Project Status</label>
                    <div class="main-toggle on">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

    </form>

