@using DeepeshWeb.Models.Timesheet;


@model List<TIM_ProjectCreationModel>

@{
    ViewBag.Title = "Project Dashboard";
}

@section style
{
    <!-- Internal Select2 css -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!--Internal  Datetimepicker-slider css -->
    <link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">

    <!-- Internal Data table css -->
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />
}

<style>
    .details-td {
        text-align: center !important;
        width: 15% !important;
    }
    #tblProject, .tabs-menu-body{
        width:100%!important;
    }
    .fa {
        margin: auto !important;
    }
    .erralign {
        text-align: left;
    }
</style>


<form id="frmProjectDashboard" ng-app="ProjectDashboardApp" ng-controller="ProjectDashboardController" autocomplete="off">
    <!-- container opened -->
    <div class="container">
        <!-- breadcrumb -->
        <div class="breadcrumb-header mg-t-0 mg-b-0 justify-content-between">
            <div class="my-auto">
                <div class="d-flex">
                    <h4 class="content-title mb-0 my-auto">Timesheet</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Project Dashboard</span>
                </div>
            </div>
            <div class="my-auto">
                <div class="d-flex">
                    <div class="panel panel-primary tabs-style-3 bd-y-0 bd-x-0">
                        <div class="tab-menu-heading">
                            <div class="tabs-menu ">
                                <!-- Tabs -->
                                <ul class="nav panel-tabs">
                                    <li class=""><a href="#tab1" data-toggle="tab"><i class="fa fa-tasks"></i> View Cards</a></li>
                                    <li><a href="#tab2" data-toggle="tab"><i class="fa fa-cube"></i>View Table</a></li>
                                    <li><a href="#" ng-click="AddProject()"><i class="fa fa-plus"></i>Add Project</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb -->
        <!-- row -->
        <div class="row row-sm">
            <div class="panel-body tabs-menu-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="row row-sm">
                            @foreach (var item in Model)
                            {
                                <div class="col-12  col-lg-12 col-xl-4">

                                    <div class="card card-purple">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col-md-5">
                                                    <b>Project Name</b>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>:</span>
                                                </div>
                                                <div class="col-md-5">
                                                    <span>@item.ProjectName</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-md-5">
                                                    <b>Client Name</b>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>:</span>
                                                </div>
                                                <div class="col-md-5">
                                                    <span>@item.Client</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-md-12">
                                                    <span class="card-subtitle text-primary">Last Updated On @item.Modified.Value.ToString("MMM dd")</span>
                                                </div>
                                            </div><hr />
                                            <div class="row">
                                                <div class="col-md-5">
                                                    @{
                                                        var result = string.Empty;
                                                        var diff = (string.Format("{0}", Math.Round(Math.Abs(((DateTime.Now - Convert.ToDateTime(item.EndDate)).TotalDays))).ToString()));
                                                        if (Convert.ToInt32(diff) < 0)
                                                        {
                                                            result = "Date  Exceeded";
                                                        }
                                                        else
                                                        {
                                                            result = diff +" days left";
                                                        }

                                                    }
                                                    <span></span>
                                                    <i class="fa">&#xf017; <span class="card-subtitle text-primary">@result</span></i>
                                                </div>
                                                <div class="col-md-2">
                                                    <span>:</span>
                                                </div>
                                                <div class="col-md-5">
                                                    <span>
                                                        <i class="fa fa-edit" title="Edit" ng-click="EditProject(@item.ID)"></i>&nbsp;&nbsp;
                                                        <i class="fa fa-trash" title="Delete" ng-click="ProjectDeletionAlert(@item.ID)"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="card mg-b-20">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="tblProject" class="table key-buttons text-md-nowrap">
                                        <thead>
                                            <tr>
                                                <th>Sr.no.</th>
                                                <th class="border-bottom-0"></th>
                                                <th class="border-bottom-0">Project Name</th>
                                                <th class="border-bottom-0">Start Date</th>
                                                <th class="border-bottom-0">End Date</th>
                                                <th class="border-bottom-0">Description</th>
                                                @*<th class="border-bottom-0">Status</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 0;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                { i++; }
                                            <tr>
                                                <td>@i</td>
                                                <td class="details-td" id="Milestone@(i)">
                                                    @if (item.InternalStatus != "ProjectCreated")
                                                    {
                                                        <button><i class="fa fa-plus" aria-hidden="true" ng-click="ShowMilestone(@i, @item.ID)"></i></button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-info" type="button" ng-click="AddMilestone(@item.ID)">Add Milestone</button>
                                                    }
                                                </td>
                                                <td>@item.ProjectName</td>
                                                <td>@item.StartDate.Split(' ')[0]</td>
                                                <td>@item.EndDate.Split(' ')[0]</td>
                                                <td>@item.Description</td>

                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

            @*<div class="row row-sm">
                @foreach (var item in Model)
                {
                    <div class="col-12  col-lg-12 col-xl-4">

                        <div class="card card-purple">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <b>Project Name</b>
                                    </div>
                                    <div class="col-md-2">
                                        <span>:</span>
                                    </div>
                                    <div class="col-md-5">
                                        <span>@item.ProjectName</span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <b>Client Name</b>
                                    </div>
                                    <div class="col-md-2">
                                        <span>:</span>
                                    </div>
                                    <div class="col-md-5">
                                        <span>@item.Client</span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <span class="card-subtitle text-primary">Last Updated On Jan 01</span>
                                    </div>
                                </div><hr />
                                <div class="row">
                                    <div class="col-md-5">
                                        <i class="fa">&#xf017; <span class="card-subtitle text-primary">9 days left</span></i>
                                    </div>
                                    <div class="col-md-2">
                                        <span>:</span>
                                    </div>
                                    <div class="col-md-5">
                                        <span>
                                            <i class="fa fa-edit" title="Edit" ng-click="EditProject(@item.ID)"></i>&nbsp;&nbsp;
                                            <i class="fa fa-trash" title="Delete" ng-click="ProjectDeletionAlert(@item.ID)"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>*@
            <!-- row closed -->
            <!--Dashboard Code start-->
            @*<h4>My Project</h4>
            <hr />*@
            @*<div class="card mg-b-20">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblProject" class="table key-buttons text-md-nowrap datatable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="border-bottom-0">Sr.no.</th>
                                    <th class="border-bottom-0">Project Name</th>
                                    <th class="border-bottom-0">Start Date</th>
                                    <th class="border-bottom-0">End Date</th>
                                    <th class="border-bottom-0">Description</th>
                                    <th class="border-bottom-0">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    { i++; }
                                    <tr>
                                        <td class="details-td" id="Milestone@(i)">
                                            @if (item.InternalStatus != "ProjectCreated")
                                            {
                                                <button><i class="fa fa-plus" aria-hidden="true" ng-click="ShowMilestone(@i, @item.ID)"></i></button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-info" type="button" ng-click="AddMilestone(@item.ID)">Add Milestone</button>
                                            }
                                        </td>
                                        <td>@i</td>
                                        <td>@item.ProjectName</td>
                                        <td>@item.StartDate.Split(' ')[0]</td>
                                        <td>@item.EndDate.Split(' ')[0]</td>
                                        <td>@item.Description</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
        </div>
        <!-- Container closed -->
</form>

@section scripts
{
    <!-- Internal Select2.min js -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="~/assets/js/datePicker.js"></script>

    <!-- Internal Data tables -->
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/js/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/js/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>

    <!--- Tabs JS-->
    <script src="../assets/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>
    <script src="../assets/js/tabs.js"></script>
    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>

    <script src="~/Scripts/jquery.cookie.min.js"></script>
    <script src="~/Scripts/Angular/Timesheet/JS/TIM_ProjectDashboard.js"></script>

}